*, *:before, *:after {
  box-sizing: border-box;
}
body {
  width: 100%
  margin: 0;
  padding: 0;
}
.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
}
.row {
  margin: 0;
  width: 100%;
  padding: 0;
}
.header {
  background: black;
  color: white;
  text-align: center;
  height: auto;
  height: 120px;
  padding-top: 1%;
  position: relative;
}
.social {
  position: absolute;
  top: 15%;
  left: 0;
  float: left;
  width: 3.5%;
  border: 1px solid white;
  border-radius: 100%;
  margin-left: 10px;
}
#face {
  background-color: white;
}
#insta {
  left: 6%;
  background-color: white;
  padding: 5px;
}
#pint {
  left: 12%;
  background-color: white;
}
#twitter {
  left: 18%;
  background-color: white;
  padding: 1px;
}
h2 {
  position: relative;
  display: inline;
  margin-top: 10px;
  font-family: 'Russo One', sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
  text-shadow: 1px 1px green;
}
.header h2:after {
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  content: "Includes sizes up to XXL";
  padding-bottom: 10px;
}
.navUnderHeader {
  background-color: gray;
  color: white;
  width: 100%;
  height: 75px;
  overflow: auto;
}
ul {
  overflow: hidden;
  list-style: none;
  margin-right: 38%;
  margin-top: 1.5%;
  font-family: 'Russo One', sans-serif;
}
li a {
  float: right;
  font-size: 16px;
  display: inline;
  color: white;
  text-align: center;
  margin-left: 5%;
  text-decoration: underline;
}
a:hover {
  color: red;
  text-decoration: none;
}
.middle {
  position: relative;
}
#main {
  width: 40%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}
#specs {
  position: absolute;
  float: right;
  top: 0;
  right: .5%;
  width: 30%;
}
#specs h3 {
  font-family: 'Ek Mukta', sans-serif;
  width: 100%;
}
#specs ul {
  float: left;
  position: relative;
  width: 100%;
  font-family: 'Russo One', sans-serif;
}
#specs ul li {
  width: 100%;
  position: relative;
  word-spacing: 5px;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 3%;
  top: 0;
}
#listColors img{
  width: 5%;
}
table, tr {
  width: 100%;
  position: relative;
  top: 0;
}

th, td {
  padding: 10px;
  position: relative;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  color: black;
  font-size: 16px;;
}
td {
  border-top: 1px solid black;
}
td:first-child {
  background-color:  rgb(244,243,242);
}
tr:last-child {
  border-bottom: none;
}
#leftGallery {
  width: 30%;
  position: absolute;
  float: left;
  left: .1%;
  top : 22%;
  overflow: auto;
}
#leftGallery img {
  width: 30%;
  margin: 1%;
  float: left;
  display: inline;
}
#leftGallery img:nth-child(7), #leftGallery img:nth-child(0) {
  clear: left;
}

#leftGallery h1 {
  font-family: 'Russo One', sans-serif;
  text-align: center;
  margin-top: 10px;
  font-size: 100%;
}
#leftGallery span {
  margin-top: 40px;
  border-bottom: 1px solid black;
}
span {
  color: red;
  display: inline-block;
  font-size: 20px;
}
#pitch {
  float: left;
  position: absolute;
  display: inline-block;
  font-size: 32px;
  bottom: 20%;
  left: 38%;
  width: 40%;
}
#pitch h2 {
  font-size: 30px;
  position: relative;
  padding: 10px;
  background-color: white;
  opacity: .8;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 2600px) {
  #leftGallery  {
    top: 30%;
  }
  #pitch h2 {
    font-size: 26px;
  }
}
